.charsheet label{
    display: inline-block;
    width:175px;
}
.charsheet input{
	display: inline-block;
	width:150px;
	margin:5px 0;
}
.charsheet .skills{
	width:300px;
}
.charsheet input[type="number"]{
	width:50px;
}
.charsheet .imposing{
	width:auto;
}