.charsheet label{
    display: inline-block;
    width:175px;
}
.charsheet input{
    display: inline-block;
	width:150px;
	margin:5px 0;
}
.charsheet input[type="number"]{
	width:50px;
}
.charsheet .sheet-skills{
	width:300px;
}
.charsheet .sheet-skills input{
	width:100% !important;
}
.charsheet .sheet-imposing{
	width:auto !important;
}
.charsheet .sheet-input-imposing{
	max-width:81%;
}